body{
    
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-color: rgb(255, 255, 255);
}
.Top{
    color: aqua;
    size: 2%;
    
}

.TopNav{
    background-color: blue;
    border-radius: 3%;
    border-color: azure;
}
.TopNav a{
    color: aqua;
}
.Topnav a.active{
    background-color: black;
    border-color:blueviolet;
}
.Topnav a:hover{
    color:darkblue;
    border-radius: 3%;
    border-color: darkviolet;
}