

.toplogo{
    width: 10%;
    height: 5%;
}

.sidenav{
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: gray;
    overflow-x: hidden;
    padding-top: 5%;
    outline-width: 0.5%;
    outline-color: black;
}