

body{
    background-color: black;
}


.topnav{
    outline-style: solid;
    outline-color: blue;
    outline-width: 0.1%;
}
.topnav a{
    padding: 1%;
    vertical-align: top;
    font-size: 300%;
    color: aliceblue;
}
.topnav a:hover{
    background-color: greenyellow;
    color: aliceblue;
}

.active {
    background-color: blue;
}

p{
    color: greenyellow;
}
h4{
    color: purple;
}
